<settings>
  <servers>
    <server>
      <id>gl_pru</id>
      <configuration>
        <httpHeaders>
          <property>
            <name>Private-Token</name>
            <value><%= options[:token] %></value>
          </property>
        </httpHeaders>
      </configuration>
    </server>
  </servers>
</settings>
