<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <OutputType>Exe</OutputType>
    <TargetFramework>netcoreapp3.0</TargetFramework>
    <PackageId><%= options[:name] %></PackageId>
    <Version><%= options[:version] %></Version>
    <Authors>GitLab Package Registry Utility</Authors>
    <Company>GitLab</Company>
    <PackageDescription>This package is <%= options[:name] %>!</PackageDescription>
    <RepositoryUrl><%= options[:url] %></RepositoryUrl>
  </PropertyGroup>

</Project>
