<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="gl_pru" value="<%= options[:url] %>" />
    </packageSources>
    <packageSourceCredentials>
        <gl_pru>
            <add key="Username" value="<%= options[:user] %>" />
            <add key="ClearTextPassword" value="<%= options[:token] %>" />
        </gl_pru>
    </packageSourceCredentials>
</configuration>
