import setuptools

setuptools.setup(
    name="<%= options[:name] %>",
    version="<%= options[:version] %>",
    author="GitLab Package Registry Utility",
    author_email="author@example.com",
    scripts=['main'],
    url="<%= options[:url] %>",
    description="A small example package",
    packages=setuptools.find_packages(),
    classifiers=[
        "Programming Language :: Python :: 3",
        "License :: OSI Approved :: MIT License",
        "Operating System :: OS Independent",
    ]
)
